################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Bredinin.MyPetProject.WebAPI/FileContentIndex
*.user
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.AssemblyInfo.cs
/Bredinin.MyPetProject.Domain/obj/Bredinin.MyPetProject.Domain.csproj.nuget.dgspec.json
/Bredinin.MyPetProject.Domain/obj/Bredinin.MyPetProject.Domain.csproj.nuget.g.props
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.AssemblyInfo.cs
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.AssemblyInfoInputs.cache
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.assets.cache
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Bredinin.MyPetProject.Domain/obj/project.assets.json
/Bredinin.MyPetProject.Domain/obj/project.nuget.cache
/Bredinin.MyPetProject.WebAPI/obj/Bredinin.MyPetProject.WebAPI.csproj.nuget.dgspec.json
/Bredinin.MyPetProject.WebAPI/obj/Bredinin.MyPetProject.WebAPI.csproj.nuget.g.props
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.AssemblyInfoInputs.cache
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.assets.cache
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.csproj.AssemblyReference.cache
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/Bredinin.MyPetProject.WebAPI/obj/project.assets.json
/Bredinin.MyPetProject.WebAPI/obj/project.nuget.cache
/Bredinin.MyPetProject.DAL.Migration/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Migration.assets.cache
/Bredinin.MyPetProject.DAL.Migration/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Migration.AssemblyInfo.cs
/Bredinin.MyPetProject.DAL.Migration/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Migration.AssemblyInfoInputs.cache
/Bredinin.MyPetProject.DAL.Migration/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Migration.GeneratedMSBuildEditorConfig.editorconfig
/Bredinin.MyPetProject.DAL.Migration/obj/Bredinin.MyPetProject.DAL.Migration.csproj.nuget.dgspec.json
/Bredinin.MyPetProject.DAL.Migration/obj/project.assets.json
/Bredinin.MyPetProject.DAL.Migration/obj/project.nuget.cache
/Bredinin.MyPetProject.DAL.Migration/obj/Bredinin.MyPetProject.DAL.Migration.csproj.nuget.g.props
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.AssemblyInfo.cs
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.assets.cache
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.csproj.AssemblyReference.cache
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.GeneratedMSBuildEditorConfig.editorconfig
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.AssemblyInfoInputs.cache
/Bredinin.MyPetProject.DAL.Context/obj/project.assets.json
/Bredinin.MyPetProject.DAL.Context/obj/project.nuget.cache
/Bredinin.MyPetProject.DAL.Context/obj/Bredinin.MyPetProject.DAL.Context.csproj.nuget.g.props
/Bredinin.MyPetProject.DAL.Context/obj/Bredinin.MyPetProject.DAL.Context.csproj.nuget.dgspec.json
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.AssemblyInfo.cs
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.AssemblyInfoInputs.cache
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.assets.cache
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.csproj.AssemblyReference.cache
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.GeneratedMSBuildEditorConfig.editorconfig
/Bredinin.MyPetProject.Core.Swagger/obj/Bredinin.MyPetProject.Core.Swagger.csproj.nuget.g.props
/Bredinin.MyPetProject.Core.Swagger/obj/project.assets.json
/Bredinin.MyPetProject.Core.Swagger/obj/project.nuget.cache
/Bredinin.MyPetProject.Core.Swagger/obj/Bredinin.MyPetProject.Core.Swagger.csproj.nuget.dgspec.json
*.cache
/Bredinin.MyPetProject.DAL.Migration/Bredinin.MyPetProject.DAL.Migration.csproj
/Bredinin.MyPetProject.DAL.Migration/obj/Bredinin.MyPetProject.DAL.Migration.csproj.nuget.g.targets
/Bredinin.MyPetProject.WebAPI/obj/Bredinin.MyPetProject.WebAPI.csproj.nuget.g.targets
*.suo
/.vs/Bredinin.MyPetProject.WebAPI/config/applicationhost.config
*.json
/Bredinin.MyPetProject.Core.Swagger/bin/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.dll
/Bredinin.MyPetProject.Core.Swagger/bin/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.pdb
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/ref/Bredinin.MyPetProject.Core.Swagger.dll
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/refint/Bredinin.MyPetProject.Core.Swagger.dll
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.csproj.BuildWithSkipAnalyzers
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.csproj.CoreCompileInputs.cache
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.csproj.FileListAbsolute.txt
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.dll
/Bredinin.MyPetProject.Core.Swagger/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.pdb
/Bredinin.MyPetProject.DAL.Context/bin/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.dll
/Bredinin.MyPetProject.DAL.Context/bin/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.pdb
/Bredinin.MyPetProject.DAL.Context/bin/Debug/net8.0/Bredinin.MyPetProject.Domain.dll
/Bredinin.MyPetProject.DAL.Context/bin/Debug/net8.0/Bredinin.MyPetProject.Domain.pdb
*.dll
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.9731D06D.Up2Date
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.csproj.BuildWithSkipAnalyzers
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.csproj.FileListAbsolute.txt
/Bredinin.MyPetProject.DAL.Context/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Context.pdb
*.pdb
/Bredinin.MyPetProject.DAL.Migration/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Migration.csproj.BuildWithSkipAnalyzers
/Bredinin.MyPetProject.DAL.Migration/obj/Debug/net8.0/Bredinin.MyPetProject.DAL.Migration.csproj.FileListAbsolute.txt
/Bredinin.MyPetProject.Domain/bin/Debug/net8.0/Bredinin.MyPetProject.Domain.dll
/Bredinin.MyPetProject.Domain/bin/Debug/net8.0/Bredinin.MyPetProject.Domain.pdb
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/ref/Bredinin.MyPetProject.Domain.dll
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.csproj.BuildWithSkipAnalyzers
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.csproj.CoreCompileInputs.cache
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.csproj.FileListAbsolute.txt
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.dll
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/Bredinin.MyPetProject.Domain.pdb
/Bredinin.MyPetProject.Domain/obj/Debug/net8.0/refint/Bredinin.MyPetProject.Domain.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.Core.Swagger.pdb
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.Domain.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.Domain.pdb
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.WebAPI.deps.json
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.WebAPI.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.WebAPI.exe
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Bredinin.MyPetProject.WebAPI.pdb
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/Bredinin.MyPetProject.WebAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/ref/Bredinin.MyPetProject.WebAPI.dll
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/refint/Bredinin.MyPetProject.WebAPI.dll
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/apphost.exe
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.csproj.BuildWithSkipAnalyzers
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.csproj.CoreCompileInputs.cache
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.csproj.FileListAbsolute.txt
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.dll
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.genruntimeconfig.cache
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.Bredinin.MyPetProject.WebAPI.props
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.MvcApplicationPartsAssemblyInfo.cs
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/Bredinin.MyPetProject.WebAPI.pdb
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/staticwebassets.build.json
/Bredinin.MyPetProject.WebAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
*.v2
/Bredinin.MyPetProject.Core.Authentication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Bredinin.MyPetProject.Core.Authentication/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Authentication.AssemblyInfo.cs
/Bredinin.MyPetProject.Core.Authentication/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Authentication.GeneratedMSBuildEditorConfig.editorconfig
/Bredinin.MyPetProject.Core.Authentication/obj/Debug/net8.0/Bredinin.MyPetProject.Core.Authentication.GlobalUsings.g.cs
/Bredinin.MyPetProject.Core.Authentication/obj/Bredinin.MyPetProject.Core.Authentication.csproj.nuget.g.props
/Bredinin.MyPetProject.Core.Authentication/obj/Bredinin.MyPetProject.Core.Authentication.csproj.nuget.g.targets
*.txt
*.BuildWithSkipAnalyzers
